commandes
io
os
strings
time
fmt
print
variable
constante
type
import
condition
boucle
break
switch
tableau
slice
len
append
copy
map
delete
identificateur_
range
fonction
pointeur
structure
methode
interface
erreur
